---
import MainLayout from '../../layouts/MainLayout.astro';
import { books } from '../../data/books';

export function getStaticPaths() {
  return [
    { params: { slug: "flight-level-heist" }},
    { params: { slug: "timid-revenge" }},
    { params: { slug: "drug-payback" }},
    { params: { slug: "crooked-idols" }}

  ];
}

const { slug } = Astro.params;
const book = books.find((b) => b.slug === slug);

if (!book) {
  throw new Error(`Book not found: ${slug}`);
}
---

<MainLayout title={`${book.title} | John Doe`}>
  <section class="book-detail">
    <div class="image-and-button">
      <img src={book.image} alt={book.title} />
      {book.buyLink !== "unavailable" ? (
        <a href={book.buyLink} class="buy-button" target="_blank">
          Buy Now
          <ion-icon size="medium" name="logo-amazon" style="position: relative; top: 4px;"></ion-icon>
        </a>
      ) : (
        <p>Coming Soon</p>
      )}
    </div>
    
    <div class="info">
      <h1>{book.title}</h1>
      
        {book.longDescription
        .trim()
        .split('\n')
        .map((paragraph) => (
          <p class="desc">{paragraph}</p>
        ))}
      
    </div>
  </section>
</MainLayout>

<style>
.book-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: auto;
}

@media (min-width: 768px) {
  .book-detail {
    flex-direction: row;
    align-items: flex-start;
  }
}

.image-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 2; /* Increase the size of this container */
}

.book-detail img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

.info {
  flex: 2; /* Allow the info section to take up less space */
}

.info h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.desc {
  color: #ccc;
  line-height: 1.8;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.3);

}

.buy-button {
  display: inline-block;
  background: #FF9900;
  color: black;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;;
}
</style>
